[data-md-color-scheme="grfmo"] {
  --md-primary-fg-color: #c0a741;
  --md-primary-fg-color--light: #ecb7b7;
  --md-primary-fg-color--dark: #806600;
}

[data-md-color-scheme="slate"] {
  --md-hue: 210;
}
